<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>生徒 設定画面</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="student">
	<div class="center-all">
		<form th:action="@{/student/new}" th:object="${studentsNewForm}" method="post">

			<div><!--出席番号の設定-->
				<label>出席番号</label>
				<input type="text" th:field="*{studentnumber}" required>
				<p th:if="${#fields.hasErrors('studentnumber')}"
								   th:errors="*{studentnumber}"></p>
			</div>
			<div><!--生徒名の設定-->
				<label>名前</label>
				<input type="text" th:field="*{studentname}" required>
				<p th:if="${#fields.hasErrors('studentname')}"
								   th:errors="*{studentname}"></p>
			</div>

			<div><!--パスワードの設定-->
				<label>パスワード</label>
				<small>※4〜20文字で入力してください</small>
				<input type="password" th:field="*{studentpassword}" required>
				<p th:if="${#fields.hasErrors('studentpassword')}"
								   th:errors="*{studentpassword}" style="color:red;"></p>
			</div>
			<p>※パスワードは忘れないものにしましょう。</p>

			<div class="btn-center">
				<input type="submit" value="登録" class="bot-registration">
			</div>
		</form>
	</div>
</body>

</html>