spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  sql:
    init:
      mode: never

  flyway:
    enabled: true
    baseline-on-migrate: true
    connect-retries: 30
    connect-retries-interval: 5

mybatis:
  mapper-locations: classpath:/mapper/*.xml

logging:
  level:
    org.springframework.jdbc: INFO