spring:
  datasource:
    url: jdbc:postgresql://dpg-d51amudactks73f5rqng-a:5432/learningplan
    username: learningplan_user
    password: dhhtZ61YA7Dj2B8DrvlHAnJLcunV7Taf
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: never

logging:
  level:
    org.springframework.jdbc: DEBUG