<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>学習記録チェック表</title>
	<link rel="stylesheet" th:href="@{/css/destyle.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<h1>学習記録チェック</h1>

	<p>
		テストID:<span th:text="${testId}"></span><br>
		日付:<span th:text="${date}"></span>
	</p>

	<p th:if="${#lists.isEmpty(list)}" style="color:red;">
		まだ学習記録は登録されていません。
	</p>
	<table >
		<tr>
			<th class="col-10">出席番号</class>
			<th class="col-10">名前</th>
			<th class="col-40">学習計画</th>
			<th class="col-40">実施内容</th>
		</tr>

		<tr th:each="l : ${list}">
			<!-- 出席番号・名前・計画・実施 -->
			<td th:text="${l.studentNumber}"></td>
			<td th:text="${l.studentName}"></td>
			<td th:text="${l.plan}"></td>
			<td th:text="${l.record}" th:style="${#strings.isEmpty(l.record)} ? 'color:red;' : ''">
			</td>
		</tr>
	</table>
	<div class="center-area">
		<a th:href="@{/teacher/check/date(testId=${testId})}" class="btn-back">戻る</a>
	</div>
</body>

</html>