<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>先生 ログイン画面</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div class="center-all">
		<form th:action="@{/login}" method="post">
			<h1>ログイン</h1>

			<div>
				<label>メールアドレス</label>
				<input type="email" name="username" required>
			</div>

			<div>
				<label>パスワード</label>
				<input type="password" name="password" required>
			</div>

			<br>

			<div class="btn-center">
				<input type="submit" value="ログイン" class="btn-login">
			</div>

			<!--エラー表示-->
			<p th:if="${param.error}" style="color:red;">
				メールアドレスまたはパスワードが違います
			</p>

			<p th:if="${param.logout}">
				ログアウトしました
			</p>

		</form>
	</div>
</body>

</html>