<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>先生 ログイン画面</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div class="center-all">
	<form th:action="@{/login}" 
	      th:object="${loginForm}" 
	      method="post">
		<h1>ログイン</h1>
		<div><!--メールアドレス-->
			<label>メールアドレス</label>
			<input type="email" th:field="*{email}" required>
			<p th:if="${#fields.hasErrors('email')}"
			   th:errors="*{email}"></p>
		</div>
		<div><!--パスワード-->
			<label>パスワード</label>
			<input type="password" th:field="*{password}" required>
			<p th:if="${#fields.hasErrors('password')}"
			   th:errors="*{password}"></p>
		</div>
		<br>
		<div class="btn-center">
			<input type="submit" value="ログイン" class="btn-login">
		</div>
		
		<!--エラー表示-->
		<p th:if="${error}" th:text="${error}" style="color:red;"></p>
		
	</form>
	</div>
</body>

</html>