@charset "UTF-8";

body {
	font-size: 16px;
	font-family: 'arial', 'Hiragino Sans', 'Meiryo', sans-serif;
	color: #333333;
}

h1 {
	font-size: 42px;
	font-weight: 700;
	text-align: center;
	color: #3c3c3c;
	padding-bottom: 10px;
	border-bottom: 5px solid #727272;
	display: inline-block;
	margin-bottom: 10px;
}

h2 {
	color: #3c3c3c;
	text-align: center;
	padding: 20px 0px 16px;
}

header {
	width: 1240px;
	margin: 0 auto 44px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid #aaa;
	 padding: 4px; 
	 text-align: center;
	 vertical-align: middle;  
}

input[type="email"],
input[type="password"],
input[type="text"] {
	background-color: white;
	width: 100%;
	padding: 6px 8px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-sizing: border-box;
}
.learning-text {
	text-align: left;
	font-size: 14px;
}


button {
	padding: 14px 30px;
	background-color: #3c3c3c;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
}

button:active {
	transform: scale(0.98);
}

.btn-center {
	text-align: center;
	margin-top: 40px;
}

.center-all {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 8px;
}

.top-title {
	font-size: 60px;
	font-weight: bold;
}

input[type="submit"] {
	padding: 10px 20px;
	background-color: #727272;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
}

a {
	font-size: 20px;
	color: #1f3a8a;
}

body {
	background-image: url("/image/css-blue.png");
	background-size: 300px 240px;
	background-repeat: repeat;
	position: relative;
}

body::before {
	content: "";
	position: fixed;
	inset: 0;
	background: rgba(255, 255, 255, 0.4);
	z-index: -1;
}

.btn {
	display: block;
	width: 260px;
	margin: 10px auto;
	margin-top: 0px;
	padding: 20px 0;
	border-radius: 8px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: rgb(255, 255, 255);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	background-color: #727272;
}

.btn:hover {
	background-color: #ffffff;
	color: rgb(0, 0, 0);
}

.menu-container {
	text-align: center;
	margin-top: 10px;
}

.btn-logout {
	width: 130px;
	margin: 12px auto;
	text-align: center;
}

.btn-logout button {
	width: 100%;
	padding: 10px 0;
	font-size: 14px;
	border-radius: 6px;
}

.testname {
	width: 360px;
	height: 46px;
	font-size: 18px;
	padding: 6px 10px;
	border-radius: 6px;
	box-sizing: border-box;
}

label {
	font-size: 18px;
	display: block;
	margin-bottom: 6px;
}

input[type="date"] {
	width: 360px;
	height: 46px;
	font-size: 18px;
	padding: 6px 10px;
	border-radius: 6px;
	background-color: #ffffff;
	box-sizing: border-box;
}

.url-box {
	background-color: #ffffff;
	padding: 12px 16px;
	border-radius: 6px;
	font-size: 18px;
	color: #1a4fa3;
	display: inline-block;
}

.copy-message {
	margin-left: 30px;
	color: #2e7d32;
	font-size: 18px;
	display: none;
	background-color: rgb(213, 255, 213);
}

.button-copy {
	padding: 5px 10px;
	background-color: rgb(46, 46, 46);
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
}

.btn-primary {
	padding: 15px 25px;
	font-size: 15px;
	border-radius: 10px;
}

.leaning-area {
	background-color: rgb(244, 244, 244);
}

body.student {
	background-image: url("/image/css-orange.png");
	background-size: 300px 240px;
	background-repeat: repeat;
	position: relative;
}

body.student::before {
	content: "";
	position: fixed;
	inset: 0;
	background: rgba(255, 255, 255, 0.6);
	z-index: 0;
}

body.student > * {
  position: relative;
  z-index: 1;
}
