<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<title>学習計画表</title>
	<link rel="stylesheet" th:href="@{/css/destyle.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>


<body>
	<div class="center-all">
	<h1>教員 管理画面</h1>
	
	<div class="menu-container">
	<a th:href="@{/test/new}" class="btn">学習計画期間の設定</a>   
	<br>
	<a th:href="@{/teacher/tests}"class="btn">学習計画期間一覧</a> 
	
	<br>
	<!--ログアウト-->
	<form action="/login" method="get" class="btn-logout">
	    <button type="submit">ログアウト</button>
	</form>
	</div>
	</div>
</body>
</html>	