<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>生徒 ログイン画面</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="student">
	<div class="center-all">
		<form th:action="@{/students/login}" th:object="${studentLoginForm}" method="post">
			<h1>学習計画表</h1>

			<div>
				<label>出席番号</label>
				<input type="text" th:field="*{studentnumber}">
			</div>
			<br>
			
			<div>
				<label>パスワード</label>
				<input type="password" th:field="*{studentpassword}">
			</div>
			<br>
			
			<div class="btn-center">
				<input type="submit" value="ログイン" class="btn-login">
			</div>
		</form>

		<!--エラー表示-->
		<p th:if="${error}" th:text="${error}" style="color:red;"></p>

		<br>
		<h2>この学習期間でまだ登録していない方は、新規登録をしてください</h2>
		<form th:action="@{/student/new}" method="get">
			<div class="button-area">
				<button  class="btn-login">新規設定</button>
			</div>
		</form>
	</div>

</body>

</html>