<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<title>学習計画表</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="student">
	<h1>学習記録入力</h1>

	<form th:action="@{/student/save}" method="post">

		<table class="leaning-area">
			<tr>
				<th class="col-10">日付</th>
				<th class="col-40">学習計画</th>
				<th class="col-40">学習内容</th>
			</tr>

			<!--日付の数が可変のためHttServletRequestとth:eachで学習期間の日付をループで表示-->
			<tr th:each="date,stat : ${dateList}">
				<td th:text="${#temporals.format(date, 'M/d (E)')}"></td>

				<!-- 計画 -->
				<td>
					<input type="text" th:name="'plan_' + ${stat.index}" th:value="${viewList[stat.index] != null
				        ? viewList[stat.index].plan : ''}" class="learning-text">
				</td>

				<!-- 実施内容 -->
				<td>
					<input type="text" th:name="'record_' + ${stat.index}" th:value="${viewList[stat.index] != null
				        ? viewList[stat.index].record : ''}" class="learning-text">
				</td>
			</tr>
		</table>
		<div class="btn-center">
			<button type="submit" class="bot-keep">保存する</button>
		</div>
	</form>
</body>

</html>