<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<title>学習計画表</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="student">
	<h1>学習記録入力</h1>

	<form th:action="@{/student/save}" method="post">
		<!-- 生徒IDとテストIDは必須（Controller でセット） -->
		<input type="hidden" name="studentId" th:value="${studentId}">
		<input type="hidden" name="testId" th:value="${testId}">

		<table class="leaning-area">
			<tr>
				<th>日付</th>
				<th>学習計画</th>
				<th>学習内容</th>
			</tr>

			<tr th:each="date,stat : ${dateList}">
				<td th:text="${#temporals.format(date, 'M/d (E)')}"></td>

				<!-- 計画 -->
				<td>
					<input type="text" th:name="'plan_' + ${stat.index}" th:value="${viewList[stat.index] != null
				        ? viewList[stat.index].plan : ''}" class="learning-text">
				</td>

				<!-- 実施内容 -->
				<td>
					<input type="text" th:name="'record_' + ${stat.index}" th:value="${viewList[stat.index] != null
				        ? viewList[stat.index].record : ''}" class="learning-text">
				</td>
			</tr>
		</table>
		<button type="submit" class="btn-center">保存する</button>
	</form>
</body>

</html>