<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>生徒 ログイン画面</title>
</head>

<body>
	<form th:action="@{/StudentLogin}" 
	      th:object="${studentLoginForm}" 
	      method="post">
		<h1>ログイン</h1>
		<div><!--出席番号-->
			<label>出席番号</label>
			<input type="text" th:field="*{studentNumber}">
		</div>
		<div><!--名前-->
			<label>名前</label>
			<input type="text" th:field="*{studentName}">
		</div>
		<div>
			<input type="submit" value="ログイン">
		</div>
		
		<!--エラー表示-->
		<p th:if="${error}" th:text="${error}" style="color:red;"></p>
		
	</form>
</body>

</html>