<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>先生 設定画面</title>
</head>

<body>
	<form action="/teacher/new" method="post">
		<div><!--学校名の設定-->
			<label>学校名</label>
			<input type="text" name="schoolname">
		</div>
		<div><!--学年・クラス-->
			<label>学年クラス</label>
			<input type="text" name="class">
		</div>
		<div><!--期間-->
			<label>計画開始日：</label>
			<input type="date" name="startday">
			<div>
				<label>計画終了日：</label>
				<input type="date" name="gole">
			</div>
			<div>
				<input type="submit" value="作成">
			</div>
	</form>
</body>

</html>