<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>先生 設定画面</title>
</head>

<body>
	<form action="/teacher/new" method="post">
		<div><!--学校名の設定-->
			<label>学校名</label>
			<input type="text" name="schoolname">
		</div>
		<div><!--メールアドレスの設定-->
			<label>メールアドレス</label>
			<input type="email" name="email">
		</div>
		<div><!--パスワードの設定-->
			<label>パスワード</label>
			<input type="password" name="password">
		</div>
		<div><!--学年・クラス-->
			<label>学年クラス</label>
			<input type="text" name="classname">
		</div>
		<div><!--先生の名前-->
			<label>先生の名前</label>
			<input type="text" name="teachername">
		</div>
			<div>
				<input type="submit" value="登録">
			</div>
	</form>
</body>

</html>