<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>先生 新規登録画面</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div class="center-all">
	<form th:action="@{/teacher/new}" 
	      th:object="${teachersNewForm}"
		  method="post">
		<h1>先生　新規登録</h1>
		<br>
		<div><!--学校名の設定-->
			<label>学校名</label>
			<input type="text" th:field="*{schoolname}">
		</div>
		<div><!--メールアドレスの設定-->
			<label>メールアドレス</label>
			<input type="email" th:field="*{email}">
		</div>
		<div><!--パスワードの設定-->
			<label>パスワード</label>
			<input type="password" th:field="*{password}">
		</div>
		<div><!--学年・クラス-->
			<label>学年クラス</label>
			<input type="text" th:field="*{classname}">
		</div>
		<div><!--先生の名前-->
			<label>先生の名前</label>
			<input type="text" th:field="*{teachername}">
		</div>
		<br>
			<div>
				<input type="submit" value="登録">
			</div>
	</form>
	</div>
</body>

</html>