<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>先生 設定画面</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div class="center-all">
	<form th:action="@{/test/new}"
	      th:object="${testsSettingForm}" 
	      method="post">
		  
		<!-- teacherId を保持 -->
		<input type="hidden" th:field="*{teacherId}">
		
		<div><!--試験の名前-->
			<label>試験名</label>
			<input type="text" th:field="*{testname}" class="testname">
		</div>
		<div><!--期間-->
			<label>計画開始日：</label>
			<input type="date" th:field="*{startday}">
		</div>
		<div>
			<label>計画終了日：</label>
			<input type="date" th:field="*{lastday}">
		</div>
		<br>
		<div>
			<input type="submit" value="作成" class="btn">
		</div>
	</form>
	</div>
</body>

</html>