<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>学習計画表</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div class="center-all">
	<h1 class="top-title">学習計画表アプリ</h1>
	<div class="btn-center">
	<button onclick="location.href='/login'" class="btn-login">ログイン</button>
	</div>
		
	<div class="btn-center">
	<button onclick="location.href='/register/teacher'" class="btn-login">新規登録</button>
	</div>
	<br>
	
	</div>
</body>

</html>