<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.TeacherClassListMapper">

    <!-- 登録情報をすべて取得 -->
    <select id="selectClassListByTestId" resultType="com.example.demo.dto.TeacherClassListDto">
        SELECT 
        s.id AS studentId,
        s.test_id AS testId,
        t.testname AS testName,
        s.studentnumber AS studentNumber,
        s.studentname AS studentName
        FROM students s
        JOIN tests t ON s.test_id = t.id
        WHERE s.test_id = #{testId}
        ORDER BY s.studentnumber
    </select>
</mapper>