<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.TeacherCheckMapper">

    <!-- 登録情報をすべて取得 -->
    <select id="selectCheckListByDaily" parameterType="map" resultType="com.example.demo.dto.TeacherCheckDto">
        SELECT 
            s.studentnumber AS studentNumber,
            s.studentname AS studentName,
            l.plan,
            l.record
        FROM learning_records l
        JOIN students s ON l.student_id = s.id
        WHERE l.test_id = #{testId}
        AND l.learn_day = #{date}
        ORDER BY s.studentnumber
    </select>
</mapper>