<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.TestsMapper">

    <!-- 登録情報をすべて取得 -->
    <select id="findAll" resultType="com.example.demo.entity.TestsSetting">
        SELECT id, testname ,startday ,lastday FROM tests;   
    </select>

    <!-- IDによる取得 -->
    <select id="findById" parameterType="int" resultType="com.example.demo.entity.TestsSetting">
        SELECT id, testname, startday, lastday FROM tests WHERE id = #{id};   
    </select>

    <!-- テストの新規登録 -->
    <insert id="insert">
        INSERT INTO tests (testname, startday, lastday)
        VALUES (#{testname}, #{startday}, #{lastday});
    </insert>
    
    <!-- テスト情報の更新 -->
    <update id="update" parameterType="com.example.demo.entity.TestsSetting">
        UPDATE tests SET
            testname = #{testname},
            startday = #{startday},
            lastday = #{lastday}
        WHERE id = #{id};
    </update>

</mapper>